#grid {
    text-align: center;
}

.row {
    display: flex;
}

.cell {
    height: 16px;
    width: 16px;
    border: 1px solid #eee;
    margin: 1px;
}

.snake-cell {
    background-color: green;
}

.food-cell {
    background-color: red;
    border-radius: 8px;
}

#btn-start-game {
    margin:  25px 0;
    cursor: pointer;
}

#score {
    font-size: 16px;
}
